<%-include ("./../partials/header")%>

<h1><%= song.artist %></h1>
<figure class="col-md-6 float-start">
    <img class="img-fluid" src="<%= song.image_url %>" height="450px">
</figure>
<section class="text-start col-md-6 float-end mx-auto">
    <form action="/songs/<%= song.id %>/update" method="POST">
        <div class="mb-3">
            <label for="year" class="form-label">Jaar :</label>
            <input type="number" name="year" value="<%= song.year %>" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="release" class="form-label">Uitgebracht op :</label>
            <input type="text" name="release_date" value="<%= song.release_date %>" class="form-control">
        </div>
        <div class="mb-3">
            <label for="weeks1" class="form-label">Weken op nr 1 :</label>
            <input type="number" name="weeks_at_number_one" value="<%= song.weeks_at_number_one %>" class="form-control">
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre :</label>
            <select name="genre" class="form-select">
                <option value="">-Kies Genre-</option>
                <% for (let genre of genres) { %>
                    <option value="<%= genre %>" <% if (genre == song.genre) { %> selected <% } %>><%= genre %></option>
                <% } %>
            </select>
        </div>
        <input type="hidden" name="id" value="<%= song.id %>" class="visually-hidden">
        <input type="hidden" name="title" value="<%= song.title %>" class="visually-hidden">
        <input type="hidden" name="artist" value="<%= song.artist %>" class="visually-hidden">
        <input type="hidden" name="image_url" value="<%= song.image_url %>" class="visually-hidden">
        <input type="hidden" name="artist_info" value="<%= song.artist_info %>" class="visually-hidden">
        <input type="hidden" name="number_1_in_UK" value="<%= song.number_1_in_UK %>" class="visually-hidden">
        <input type="hidden" name="other_top_songs" value="<%= song.other_top_songs %>" class="visually-hidden">
        <input type="hidden" name="chorus" value="<%= song.chorus %>" class="visually-hidden">
        <input type="submit" value="pas aan" class="btn btn-primary">
    </form>
</section>

<%-include ("./../partials/footer")%>